<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Fred Consumer - Failures</title>
  <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.9.0/build/reset/reset-min.css">
  <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}fred_consumer/stylesheets/bootstrap.min.css"/>
  <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}fred_consumer/stylesheets/style.css"/>
</head>
<body>

  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <ul class="nav">
          <li><a href="{% url fred_config_page %}">FRED Settings</a></li>
          <li class="active"><a href="{% url failures %}">Failures</a></li>
        </ul>
      </div>
    </div>
  </div>
  <br><br><br><br>

  <div class="container">
    <table class="table table-hover table-bordered">
      <thead>
        <tr>
          <th>
            Time
          </th>
          <th>
            Exception
          </th>
          <th>
            JSON Body
          </th>
          <th>
            HTTP Action
          </th>
        </tr>
      </thead>
      <tbody>
        {% for failure in failures.object_list %}
          <tr>
            <td>
              {{ failure.time }}
            </td>
            <td>
              {{ failure.exception }}
            </td>
            <td>
              {{ failure.json }}
            </td>
            <td>
              {{ failure.action }}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

    {% if failures.object_list > 0 %}
    <div class="pagination">
        <ul>
        {% if failures.has_previous %}
            <li><a href="?page={{ failures.previous_page_number }}{{ getvars }}{{ hashtag }}" class="prev">&lsaquo;&lsaquo; Prev</a></li>
        {% else %}
            <li class="disabled prev"><a href="#">&lsaquo;&lsaquo; Prev</a></li>
        {% endif %}
         <li  class="disabled prev">
           <a href="#">
            {{ failures }}
           </a>
         </li>
        {% if failures.has_next %}
            <li><a href="?page={{ failures.next_page_number }}{{ getvars }}{{ hashtag }}" class="next">Next &rsaquo;&rsaquo;</a></li>
        {% else %}
            <li class="disabled next"><a href="#">Next &rsaquo;&rsaquo;</a></li>
        {% endif %}
        </ul>
    </div>
    {% endif %}

  </div>

</body>
</html>
