<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Fred Consumer - Settings</title>
  <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.9.0/build/reset/reset-min.css">
  <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}fred_consumer/stylesheets/bootstrap.min.css"/>
  <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}fred_consumer/stylesheets/style.css"/>
</head>
<body>

  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <ul class="nav">
          <li class="active"><a href="{% url fred_config_page %}">FRED Settings</a></li>
          <li><a href="{% url failures %}">Failures</a></li>
        </ul>
      </div>
    </div>
  </div>
  <br><br><br><br>

  <div class="container">
    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-success">
          {{ message }}
        </div>
      {% endfor %}
    {% endif %}
  </div>

  <div class="container well">
    <h4>FRED API configurations</h4><br>
    <form class="form-horizontal" method="post" action="{% url fred_update_config %}">
      <div class="control-group">
        <label class="control-label" for="fred_settings">Provider URL</label>
        <div class="controls">
          <input type="text" name="url" id="fred_url" value="{{ url }}" placeholder="Provider URL">
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="fred_username">Username</label>
        <div class="controls">
          <input type="text" name="username" id="fred_username" value="{{ username }}" placeholder="Username">
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="fred_password">Password</label>
        <div class="controls">
          <input type="password" name="password" id="fred_password" value="{{ password }}" placeholder="Password">
        </div>
      </div>
      <div class="control-group">
        <div class="controls">
          <button type="submit" id="update" class="btn">Update</button>
        </div>
      </div>
    </form>
  </div>
  <br><br>
  <div class="container well">
    <h4>Job Status</h4>
    {% if last_job %}
      Last job started at <span id="last-sync-time">{{ last_job.time }}</span>&nbsp;&nbsp;&nbsp;
      {% if last_job.status == 'PENDING' %}
        <a href="{% url terminate_job %}" class="btn btn-danger">Terminate job</a>
      {% else %}
        <a href="{% url sync_now %}" class="btn btn-primary">Sync Now</a>
      {% endif %}
    {% else %}
      <a href="{% url sync_now %}" class="btn btn-primary">Sync Now</a>
    {% endif %}
  </div>
</body>
</html>
